.addProductForm {
  @apply relative flex p-4 h-[100px] border border-slate-300 rounded;

  .productUploadContainer {
    @apply flex items-center justify-center mr-4 relative min-w-[100px] h-[68px] bg-slate-100 rounded;

    .productUploadIcon {
      @apply text-3xl text-teal-700;
    }

    input[type='file'] {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .productImageContainer {
    @apply relative min-w-[100px] h-[68px];

    .productImage {
      @apply max-h-full mx-auto bg-contain hover:scale-105 duration-300;
    }
  }

  .productInfo {
    @apply flex items-end justify-start gap-4 w-full;

    .productNameInput {
      @apply w-1/2;
    }

    .wrapper {
      @apply flex items-center justify-between gap-4 w-1/2;

      .productInput {
        @apply w-full;
      }
    }
  }
}
