.addProductForm {
  @apply relative p-4 h-[400px] border border-slate-300 rounded;

  .productUploadContainer {
    @apply relative flex items-center justify-center h-[55%] p-2 pb-4 bg-slate-100 rounded;

    .productUploadIcon {
      @apply text-3xl text-teal-700;
    }

    input[type='file'] {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .productImageContainer {
    @apply relative h-[55%] p-2 pb-4 border-b border-slate-300;

    .productImage {
      @apply max-h-40 mx-auto bg-contain hover:scale-105 duration-300;
    }
  }

  .productInfo {
    @apply h-[45%] flex flex-col gap-2 pt-2;

    .productArea {
      @apply flex-grow w-full h-full inline-block outline-none border border-slate-300 text-gray-900 text-sm rounded focus:ring-teal-700;
    }
    .wrapper {
      @apply flex items-center justify-between gap-2;

      .productInput {
        @apply w-1/2 inline-block outline-none border border-slate-300 text-gray-900 text-sm rounded focus:ring-teal-700;
      }
    }
  }
}
