@mixin changeButton {
  @apply w-fit h-fit bg-white text-sm border border-slate-300 rounded-full flex items-center justify-center p-[6px];
}

@mixin productValues {
  @apply text-white font-medium rounded px-1 py-0.5;
}

@mixin productImage {
  @apply min-w-[100px] h-[68px] mr-4;

  .productImage {
    @apply max-h-full mx-auto bg-contain hover:scale-105 duration-300;
  }
}

.product {
  @apply flex relative h-[100px] border border-slate-300 rounded p-4;

  .productChangeButtons {
    @apply flex flex-col gap-2 ml-4;

    .productChangeButtonEdit {
      @include changeButton;
      @apply text-teal-700;
    }

    .productChangeButtonDelete {
      @include changeButton;
      @apply text-red-700;
    }
  }

  .productImageContainer {
    @include productImage;
  }

  .productInfo {
    @apply flex flex-col h-full w-full;

    .productTitle {
      @apply flex-grow h-1/2;
    }

    .wrapper {
      @apply flex items-end gap-4 h-1/2;

      .productPrice {
        @apply font-medium;

        span {
          @include productValues;
          @apply bg-teal-700;
        }
      }

      .productQuantity {
        @apply font-medium;

        span {
          @include productValues;
          @apply bg-slate-400;
        }
      }
    }
  }
}

.addProductForm {
  @apply relative flex p-4 h-[100px] border border-slate-300 rounded;

  .productUploadContainer {
    @apply flex items-center justify-center mr-4 relative min-w-[100px] h-[68px] bg-slate-100 rounded;

    .productUploadIcon {
      @apply text-3xl text-teal-700;
    }

    input[type='file'] {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .productImageContainer {
    @include productImage;
  }

  .productInfo {
    @apply flex items-end justify-start gap-4 w-full;

    .productNameInput {
      @apply w-1/2;
    }

    .wrapper {
      @apply flex items-center justify-between gap-4 w-1/2;

      .productInput {
        @apply w-full;
      }
    }
  }
  .changeButtons {
    @apply flex flex-col gap-2 ml-4;

    .changeButtonsEdit {
      @include changeButton;
      @apply text-teal-700;
    }

    .changeButtonsDelete {
      @include changeButton;
      @apply text-red-700;
    }
  }
}
