.sheet {
  display: none;
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background-color: white;
  page-break-after: always;

  table {
    width: auto;
    margin: 1cm 2.5cm;
    border-collapse: collapse;
  }

  caption {
    text-align: left;
    font-weight: bold;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid black;
  }

  th {
    background-color: lightgray;
  }

  tbody td:last-child {
    text-align: right;
  }

  tr:last-child {
    font-weight: bold;
  }
}

@media print {
  .printButon {
    display: none;
  }

  .closeButon {
    display: none;
  }

  .sheet {
    margin: 0 auto;
    page-break-after: always;

    table {
      overflow: hidden;
      width: auto;
      margin: 1cm 2.5cm;
      border-collapse: collapse;
      page-break-after: always;

      caption {
        text-align: left;
        font-weight: bold;
      }

      th,
      td {
        padding: 8px;
        border: 1px solid black;
      }

      th {
        background-color: lightgray;
      }

      tbody td:last-child {
        text-align: right;
      }

      tr:last-child {
        font-weight: bold;
      }
    }
  }
}
